<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- propia -->
    <link rel="stylesheet" href="./home.css">
    <link rel="stylesheet" href="./carousel_prod.css">


    <!-- fonts -->
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400&display=swap" rel="stylesheet">
    <!-- century gothinc -->
    <link rel="stylesheet" href="https://use.typekit.net/oov2wcw.css">
    <!-- fonts awesome -->
    <script src="https://kit.fontawesome.com/086374246f.js" crossorigin="anonymous"></script>



</head>

<body>

    <header class="hidden-min">
        <div class="header-logo">
            <h1 class="hidden">Casa La Estilografica</h1>
            <div class="pen-img">
                <a href="./home.html"><img src="./images/logo_white.png" alt=""></a>

            </div>

        </div>

    </header>

    <nav class="navbar navbar-expand-sm navbar-dark bg-dark py-3 shadow-sm navbar-main hidden-min ">

        <div id="navbarContent" class="collapse navbar-collapse order-sm-12 order-lg-1 justify-content-center">
            <div style="width: 75px"></div>
            <ul class="navbar-nav ml-auto container-fluid justify-content-center d-flex">
                <!-- Megamenu-->
                <li class="nav-item dropdown megamenu"><a id="megamenu" href="" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle h6-navbar ">Artículos
                        de escritura</a>
                    <div aria-labelledby="megamenu" class="dropdown-menu border-0 p-0 m-0">
                        <div class="container-fluid">
                            <div class="row bg-dark text-light rounded-0 m-0 shadow-sm " style="width: 100%">
                                <div class="col-12 container-custom-sub">
                                    <div class="p-4">
                                        <div class="row">
                                            <!-- <div class="col-sm-6 col-lg-3 mb-4"> -->
                                            <div class="col-12 ">
                                                <!-- <h6 class="h6-navbar ">Artículos de escritura</h6> -->
                                                <ul class="list-unstyled d-flex flex-row justify-content-between">
                                                    <li class="nav-item"><a href="#"
                                                            class="nav-link text-small pb-0">Rollerballs</a></li>
                                                    <li class="nav-item"><a href="#"
                                                            class="nav-link text-small pb-0 ">Bolígrafos</a></li>
                                                    <li class="nav-item"><a href="./products-filters.html"
                                                            class="nav-link text-small pb-0 ">Estilográficas</a></li>
                                                    <li class="nav-item"><a href="#"
                                                            class="nav-link text-small pb-0 ">Ediciones limitadas</a>
                                                    </li>
                                                    <li class="nav-item"><a href="#"
                                                            class="nav-link text-small pb-0 ">Portaminas mecánicos y
                                                            lápices</a></li>
                                                    <li class="nav-item"><a href="#"
                                                            class="nav-link text-small pb-0 ">Sets de escritura</a></li>
                                                    <li class="nav-item"><a href="./service.html"
                                                            class="nav-link text-small pb-0 ">Repuestos</a></li>
                                                </ul>
                                            </div>
                                            <!-- <div class="col-sm-6 col-lg-3 mb-4">
                                            <h6 class="h6-navbar ">Marcas</h6>
                                            <ul class="list-unstyled">
                                              <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Montblanc</a></li>
                                              <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Cross</a></li>
                                              <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Lamy</a></li>
                                              <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Fisher</a></li>
                                            </ul>
                                          </div>
                                          <div class="col-sm-6 col-lg-3 mb-4">
                                            <h6 class="h6-navbar ">Colecciones</h6>
                                            <ul class="list-unstyled">
                                              <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Ediciones limitadas</a></li>
                                              <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Image Responsive</a></li>
                                              <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Kits de escritura</a></li>
                                             
                                            </ul>
                                          </div>
                                          <div class="col-sm-6 col-lg-3 mb-4">
                                            <h6 class="h6-navbar ">Presupuestos</h6>
                                            <ul class="list-unstyled">
                                              <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Ediciones limitadas</a></li>
                                              <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Kits de escritura</a></li>
                                             
                                            </ul>
                                          </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown megamenu"><a id="megamenu" href="" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"
                        class="nav-link dropdown-toggle h6-navbar ">Marcas</a>
                    <div aria-labelledby="megamenu" class="dropdown-menu border-0 p-0 m-0">
                        <div class="container-fluid">
                            <div class="row bg-dark text-light rounded-0 m-0 shadow-sm " style="width: 100%">
                                <div class="col-12 container-custom-sub">
                                    <div class="p-4">
                                        <div class="row">
                                            <div class="col-sm-6 col-lg-3 mb-4">

                                                <ul class="list-unstyled">
                                                    <li class="nav-item"><a href="#"
                                                            class="nav-link text-small pb-0">Campo Marzio</a></li>
                                                    <li class="nav-item"><a href="#"
                                                            class="nav-link text-small pb-0 ">Caran d´Ache</a></li>
                                                    <li class="nav-item"><a href="#"
                                                            class="nav-link text-small pb-0 ">Cross</a></li>
                                                    <li class="nav-item"><a href="#"
                                                            class="nav-link text-small pb-0 ">Fisher Space Pen</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-6 col-lg-3 mb-4">

                                                <ul class="list-unstyled">
                                                    <li class="nav-item"><a href=""
                                                            class="nav-link text-small pb-0 ">Graf Von Faber-Castell</a>
                                                    </li>
                                                    <li class="nav-item"><a href=""
                                                            class="nav-link text-small pb-0 ">Lamy</a></li>
                                                    <li class="nav-item"><a href=""
                                                            class="nav-link text-small pb-0 ">Montblanc</a></li>
                                                    <li class="nav-item"><a href=""
                                                            class="nav-link text-small pb-0 ">Montegrappa</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-6 col-lg-3 mb-4">

                                                <ul class="list-unstyled">
                                                    <li class="nav-item"><a href=""
                                                            class="nav-link text-small pb-0 ">Parker</a></li>
                                                    <li class="nav-item"><a href=""
                                                            class="nav-link text-small pb-0 ">Pelikan</a></li>
                                                    <li class="nav-item"><a href=""
                                                            class="nav-link text-small pb-0 ">Peninfarina</a></li>
                                                    <li class="nav-item"><a href=""
                                                            class="nav-link text-small pb-0 ">S.T. Dupont</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-6 col-lg-3 mb-4">

                                                <ul class="list-unstyled">
                                                    <li class="nav-item"><a href=""
                                                            class="nav-link text-small pb-0 ">Waterman</a></li>
                                                    <!-- <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Image Responsive</a></li>
                                                  <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Auto Carousel</a></li>
                                                  <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Newsletter Form</a></li> -->
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="nav-item dropdown megamenu"><a class="nav-link  h6-navbar ">Ofertas especiales</a></li>
                <li class="nav-item dropdown megamenu"><a class="nav-link  h6-navbar ">Accesorios</a></li>
                <li class="nav-item dropdown megamenu"><a class="nav-link  h6-navbar ">Servicio técnico</a></li>


            </ul>
            <ul class="d-flex flex-row justify-content-between">
                <li class="nav-item dropdown megamenu "><a class="nav-link  h6-navbar "><img class="icon-nav-bar"
                            src="./images/icons/shopping-bag-smoke.png" alt="CART"></a></li>
                <li class="nav-item dropdown megamenu "><a id="megamenu" href="" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" class="nav-link h6-navbar "><img class="icon-nav-bar"
                            src="./images/icons/search-smoke.png" alt="CART"></a>
                    <div aria-labelledby="megamenu" class="dropdown-menu border-0 p-0 m-0">
                        <div class="container-fluid">
                            <div class="row bg-dark text-light rounded-0 m-0 shadow-sm " style="width: 100%">
                                <div class="col-12 container-custom-sub">

                                    <div class="row row-input-search">
                                        <div class="col-12 justify-content-center div-input-search">
                                            <div class="input-group mb-3 input-search">
                                                <input type="text" class="form-control"
                                                    placeholder="Ingrese aquí se búsqueda"
                                                    aria-label="Ingrese aquí su búsqueda"
                                                    aria-describedby="basic-addon2">
                                                <div class="input-group-append">
                                                    <button class="btn " type="button"> <i
                                                            class="fas fa-chevron-right"></i></button>
                                                </div>
                                            </div>

                                        </div>



                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>

        </div>

    </nav>

    <nav class="hidden-max nav-bar-mobile container-fluid">


        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center row">
                <div class="col-2" data-toggle="collapse" data-target="#accordion">
                    <img class="icon-nav-bar" src="./images/icons/open-menu-smoke.png" alt="CART"></a>
                </div>
                <div class="pen-img col-8" style="text-align:center">
                    <div>
                        <img src="./images/logo_white.png" alt="">
                    </div>
                </div>
                <div class="d-flex col-2">
                    <div class="mr-3">
                        <img class="icon-nav-bar " src="./images/icons/shopping-bag-smoke.png" alt="CART"></a>
                    </div>
                    <div>
                        <a><img class="icon-nav-bar" src="./images/icons/search-smoke.png" alt="CART"
                                data-toggle="collapse" href="#collapseSearch"></a>
                    </div>
                </div>
            </div>
        </div>

        <div id="accordion" class="collapse">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn  btn-link-mobile" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            Artículos de escritura
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <ul>
                            <li class="nav-item"><a href="#" class="nav-link text-small pb-0">Estilográfica</a></li>
                            <li class="nav-item"><a href="#" class="nav-link text-small pb-0 ">Bolígrafo</a></li>
                            <li class="nav-item"><a href="./products-filters.html"
                                    class="nav-link text-small pb-0 ">Rollerball</a>
                            </li>
                            <li class="nav-item"><a href="#" class="nav-link text-small pb-0 ">Ediciones limitadas</a>
                            </li>
                            <li class="nav-item"><a href="#" class="nav-link text-small pb-0 ">Portaminas mecánicos y
                                    lápices</a></li>
                            <li class="nav-item"><a href="#" class="nav-link text-small pb-0 ">Sets de escritura</a>
                            </li>
                            <li class="nav-item"><a href="#" class="nav-link text-small pb-0 ">Repuestos</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn  collapsed btn-link-mobile" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo">
                            Marcas
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <ul>
                            <li class="nav-item"><a href="#" class="nav-link text-small pb-0">Campo Marzio</a></li>
                            <li class="nav-item"><a href="#" class="nav-link text-small pb-0 ">Caran d´Ache</a></li>
                            <li class="nav-item"><a href="#" class="nav-link text-small pb-0 ">Cross</a></li>
                            <li class="nav-item"><a href="#" class="nav-link text-small pb-0 ">Fisher Space Pen</a></li>
                            <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Graf Von Faber-Castell</a>
                            </li>
                            <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Lamy</a></li>
                            <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Montblanc</a></li>
                            <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Montegrappa</a></li>
                            <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Parker</a></li>
                            <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Pelikan</a></li>
                            <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Peninfarina</a></li>
                            <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">S.T. Dupont</a></li>
                            <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Waterman</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">
                        <button class="btn  btn-link-mobile">
                            Ofertas especiales
                        </button>
                    </h5>
                </div>

            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">
                        <button class="btn  btn-link-mobile">
                            Accesorios
                        </button>
                    </h5>
                </div>

            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">
                        <button class="btn btn-link-mobile">
                            Servicio técnico
                        </button>
                    </h5>
                </div>

            </div>
        </div>
    </nav>



    <main>
        <div class="container-custom-sub">
            <nav aria-label="breadcrumb ">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="./home.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">(categoría)</a></li>
                    <li class="breadcrumb-item active" aria-current="page">(producto)</li>
                </ol>
            </nav>
        </div>
        <section>

            <section class="container-fluid container-custom-sub ">
                <div class="card card-carousel-product">
                    <!-- <div class="card-header">
                        <h2 class="">Cross Bailey Light</h2>
                        <h4>Cross | Bolígrafo</h4>
                    </div> -->
                    <div class="card-body">

                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12 col-md-7 cols-carousel">

                                        <div class="container container-carousel-product-main  mt-0">
                                                <div class="row">
                                                    <div class="col-md-12 container-carousel-product">
                                                        <div id="custCarousel" class="carousel slide" data-ride="carousel" align="center">
                                                            <!-- slides -->
                                                            <div class="carousel-inner carousel-inner-product">
                                                                <div class="carousel-item active"> <img src="./images/products/bailey1.jpg" alt="Hills"> </div>
                                                                <div class="carousel-item"> <img src="./images/products/bailey2.jpg" alt="Hills"> </div>
                                                                <div class="carousel-item"> <img src="./images/products/bailey3.jpg" alt="Hills"> </div>
                                                                <div class="carousel-item"> <img src="./images/products/bailey4.jpg" alt="Hills"> </div>
                                                            </div> <!-- Left right --> 
                                                           
                                                                
                                                                <!-- Thumbnails -->
                                                            <ol class=" carousel-indicators list-inline">
                                                                <li class="list-inline-item active"> <a id="carousel-selector-0" class="selected" data-slide-to="0" data-target="#custCarousel"> <img src="./images/products/bailey1.jpg" class="img-fluid"> </a> </li>
                                                                <li class="list-inline-item"> <a id="carousel-selector-1" data-slide-to="1" data-target="#custCarousel"> <img src="./images/products/bailey2.jpg" class="img-fluid"> </a> </li>
                                                                <li class="list-inline-item"> <a id="carousel-selector-2" data-slide-to="2" data-target="#custCarousel"> <img src="./images/products/bailey3.jpg" class="img-fluid"> </a> </li>
                                                                <li class="list-inline-item"> <a id="carousel-selector-2" data-slide-to="3" data-target="#custCarousel"> <img src="./images/products/bailey4.jpg" class="img-fluid"> </a> </li>
                                                            </ol>
                                                          
                                                        </div>
                                                        <a class="carousel-control-prev" href="#custCarousel" data-slide="prev"> 
                                                                <span class="carousel-control-prev-icon"></span> </a> 
                                                                <a class="carousel-control-next" href="#custCarousel" data-slide="next"> 
                                                                    <span class="carousel-control-next-icon"></span> 
                                                                </a> 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                 
                                           

                                   
                                    <div class="col-sm-12 col-md-5 space-data-prod">

                                        <div>
                                            
                                       
                                            <div class="card-header card-header-prod">
                                                    <h2 class="">Cross Bailey Light</h2>
                                                    <h4>Cross | Bolígrafo</h4>
                                            </div> 
                                            <h3>$ 3.380</h3>
                                         
    
                                            <div style="display: flex; justify-content: space-between;">
                                                <div class="container-btn-add-cart">
                                                    <button type="button" id="prod" class=" btn-add-cart "
                                                        value="<%= productoDetallado[i].id %>">Agregar al carrito</button>
                                                </div>
        
                                            </div>
                                        </div>

                                            <div class="wrap wrap-detail-prod">
                                                    <p>Código: CR-AT0452-12</p>
                                                    <p>Ocasiones | aniversario, graduación <span></span></p>
                                                    <p>Recomendado para | médico, arquitecto<span></span></p>

                                            </div>
        
                                        </div>
                                </div>
                            </div>
                                <!-- <div class="col-sm-12 col-md-6">
                                    <h3>$ 3.380</h3>
                                    <div class="wrap">
                                        <h4>Cross Bailey Light</h4>
                                        <p>Bolígrafo Cross Bailey Laca coloreada</p>
                                    </div>




                                    <div style="display: flex; justify-content: space-between;">
                                        <div class="producto-comprar">
                                            <button type="button" id="prod" class="btn btn-secondary "
                                                value="<%= productoDetallado[i].id %>">Agregar al carrito</button>
                                        </div>



                                    </div>


                                </div> -->
                            </div>



                        </div>


                    </div>
                </div>

            </section>

        </section>





        <a href="https://wa.me/5491141999053"><button class="boton-fijo"><i
                    class="fab fa-whatsapp-square"></i></button></a>
    </main>

    <footer>
        <div class="container ">
                <div class="row row-footer justify-content-center">
                        <p>Av. Pres. Manuel Quintana 530, C1129 ABO, Buenos Aires <span>Lunes a Viernes 11 a 19 hs | Sábados 11 a 14 hs</span></p>
                   
                       
                    </div>
        </div>
    </footer>


    <script>
        function toggleDropdown(e) {
            const _d = $(e.target).closest('.dropdown'),
                _m = $('.dropdown-menu', _d);
            setTimeout(function () {
                const shouldOpen = e.type !== 'click' && _d.is(':hover');
                _m.toggleClass('show', shouldOpen);
                _d.toggleClass('show', shouldOpen);
                $('[data-toggle="dropdown"]', _d).attr('aria-expanded', shouldOpen);
            }, e.type === 'mouseleave' ? 300 : 0);
        }

        $('body')
            .on('mouseenter mouseleave', '.dropdown', toggleDropdown)
            .on('click', '.dropdown-menu a', toggleDropdown);
    </script>



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>
</body>

</html>