<%- include(`partials/head`, {title: `Inicio`}) %>
<main>
    <div class="container-custom-sub">
        <nav aria-label="breadcrumb ">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="./home.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Escritura</a></li>
                <li class="breadcrumb-item"><a href="#">Nuestras Marcas</a></li>

            </ol>
        </nav>
    </div>





    <section class="container-fluid container-custom-sub ">

        <div class="products-detail-img container-img">
            <img src="../images/setup/nuestrasMarcasBanner.jpg" alt="">
            <div class="container-text-img">
                <h2 class="hidden">marcas</h2>
                <div>
                    <!-- <p style="">LAPICERAS <br><span>FUENTE</span></p> -->
                    <p> NUESTRAS MARCAS</p>

                </div>
            </div>
        </div>

    </section>
    <section class="container-fluid container-custom-sub container-brands">

        <div id="brands-grid-main">
            <!-- <div><a href=""> <img src="../images/brands/Logo-Graf-von-Faber-Castell.png" alt=""></a></div>
            <div><a href=""><img src="../images/brands/Montblanc_logo.svg.png" alt=""></a></div>
            <div><a href=""><img src="../images/brands/caran.png" alt=""></a></div>
            <div><a href=""><img src="../images/brands/dupont.png" alt=""></a></div>
            <div><a href=""><img src="../images/brands/lamy.png" alt=""></a></div>
            <div><a href=""><img src="../images/brands/pininfarina.png" alt=""></a></div>
            <div><a href=""><img src="../images/brands/cross-log-new.png" alt=""></a></div>
            <div><a href=""><img src="../images/brands/logo_black.png" alt=""></a></div>
            <div><a href=""><img src="../images/brands/fischer.png" alt=""></a></div>
            <div><a href=""><img src="../images/brands/montegrappa.png" alt=""></a></div>
            <div><a href=""><img src="../images/brands/pelikan.png" alt=""> </a></div>
            <div><a href=""><img src="../images/brands/parker.png" alt=""></a></div> -->
        </div>


        <!-- <div>
                    <ul class="list-marks-main d-flex flex-row justify-content-center flex-wrap">
                        <LI>
                            <div><a href=""> <img src="../images/brands/Logo-Graf-von-Faber-Castell.png" alt=""></a></div>
                        </LI>
                        <LI>
                            <div><a href=""><img src="../images/brands/Montblanc_logo.svg.png" alt=""></a></div>
                        </LI>
                        <LI>
                            <div><a href=""><img src="../images/brands/caran.png" alt=""></a></div>
                        </LI>
                        <LI>
                            <div><a href=""><img src="../images/brands/dupont.png" alt=""></a></div>
                        </LI>
                        <LI>
                            <div><a href=""><img src="../images/brands/lamy.png" alt=""></a></div>
                        </LI>
                        <LI>
                                <div><a href=""><img src="../images/brands/pininfarina.png" alt=""></a></div>
                            </LI>
                    </ul>
                    <ul class="list-marks-main d-flex flex-row justify-content-center flex-wrap">
    
                        
                        <LI>
                            <div><a href=""><img src="../images/brands/cross-log-new.png" alt=""></a></div>
                        </LI>
                        <LI>
                            <div><a href=""><img src="../images/brands/logo_black.png" alt=""></a></div>
                        </LI>
                        <LI>
                            <div><a href=""><img src="../images/brands/fischer.png" alt=""></a></div>
                        </LI>
                        <LI>
                            <div><a href=""><img src="../images/brands/montegrappa.png" alt=""></a></div>
                        </LI>
                        <LI>
                            <div><a href=""><img src="../images/brands/pelikan.png" alt=""> </a></div>
                        </LI>
                        <LI>
                            <div><a href=""><img src="../images/brands/parker.png" alt=""></a></div>
                        </LI>
                    </ul>
                </div> -->



    </section>






    <script src="../../scripts/brandsMain.js"></script>

</main>


<%- include(`partials/footer`) %>