<%- include(`partials/head`, {title: `Inicio`}) %>
<main>


    <section class="carousel-store">

        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <!-- <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol> -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="./images/carousel/lapiceras3.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="./images/carousel/vitrina5.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="./images/carousel/lapiceras2.jpg" alt="Third slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="./images/carousel/lapices1.jpg" alt="Fourth slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">

            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">

            </a>
        </div>
    </section>
    <!-- <section>
              <div class="img-home">
                <img src="./images/Pen-Wallpaper-65+-Group-Wallpapers.jpg" alt="">
        
              </div>
            </section> -->

    <section class="writing-tools container">

        <div>
            <ul class="d-flex flex-row justify-content-center flex-wrap">

                <li class="item-menu-img "><a href="./products/categories/1">
                        <div class="writing-tools-img"><img src="./images/detalles/fountain.jpg" alt=""></div>
                    </a>
                    <p class=" hidden-text">Estilográficas</p>
                </li>
                <li class="item-menu-img"><a href="./products/categories/2">
                        <div class="writing-tools-img"><img src="./images/detalles/BOLIG.jpg" alt=""></div>
                    </a>
                    <p class=" hidden-text">Bolígrafos</p>
                </li>
                <li class="item-menu-img"><a href="./products/categories/3">
                        <div class="writing-tools-img"><img src="./images/detalles/ROLLER.jpg" alt=""></div>
                    </a>
                    <p class=" hidden-text">Rollerballs</p>
                </li>
                <li class="item-menu-img"><a href="./products/categories/4">
                        <div class="writing-tools-img"><img src="./images/detalles/PENCIL.jpg" alt=""></div>
                    </a>
                    <p class=" hidden-text">Lápices mecánicos</p>
                </li>
                <li class="item-menu-img"><a href="./products/categories/5">
                        <div class="writing-tools-img"><img src="./images/detalles/set.jpg" alt=""></div>
                    </a>
                    <p class=" hidden-text">Sets de escritura</p>
                </li>

            </ul>
        </div>


    </section>

    <a href="https://wa.me/5491141999053"><button class="boton-fijo"><i class="fab fa-whatsapp-square"></i></button></a>

    <section class="container sections-main">
        <div>
            <h2>Seleccionados</h2>
        </div>
        <article class="seleccionados">
            <div class="card-deck card-deck-main">

                <div class="card">
                    <a href="./producto.html">
                        <img class="card-img-top" src="./images/products/cross_bailey.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Bailey Light</h5>
                            <p class="card-text">Cross Bailey Light Polished Coral Resin Rollerball Pen</p>
                        </div>
                        <div class="card-footer">
                            <p class="text-muted">$3.380</p>
                        </div>
                    </a>
                </div>

                <div class="card">
                    <a href="./producto.html">
                        <img class="card-img-top" src="./images/products/cross_classic.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Classic Century</h5>
                            <p class="card-text">Classic Century Brushed Chrome Rollerball Pen</p>
                        </div>
                        <div class="card-footer">
                            <p class="text-muted">$4.620</p>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a href="./producto.html">
                        <img class="card-img-top" src="./images/products/cross_ferrari.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Cross Classic Century Collection for Scuderia Ferrari</h5>
                            <p class="card-text">Cross Classic Century Collection for Scuderia Ferrari Matte Black
                                Lacquer Rollerball
                                Pen</p>
                        </div>
                        <div class="card-footer">
                            <p class="text-muted">$9.800</p>
                        </div>
                    </a>
                </div>
            </div>
        </article>

    </section>

    <section>

        <div class="jumbotron jumbotron-fluid jumbo-services">
            <div class="container">
                <h2 class="display-4">Service y repuestos</h2>
                <p class="lead"> <span>Brindamos servicios de reparación y mantenimiento.</span> Contamos con
                    repuestos de las
                    mejores marcas. Puede contactarse con nosotros a través de nuestro <a
                        href="./service.html">formulario de contacto</a>, por
                    teléfono, o
                    bien visitarnos en nuestro local.
                </p>
            </div>
        </div>

    </section>

    <section class="container sections-main">
        <div>
            <h2>Novedades</h2>
        </div>
        <article class="novedades">
            <div class="card-deck card-deck-main">

                <div class="card">
                    <a href="">
                        <img class="card-img-top" src="./images/products/cross_bailey.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Bailey Light</h5>
                            <p class="card-text">Cross Bailey Light Polished Coral Resin Rollerball Pen</p>
                        </div>
                        <div class="card-footer">
                            <p class="text-muted">$3.380</p>
                        </div>
                    </a>
                </div>

                <div class="card">
                    <a href="">
                        <img class="card-img-top" src="./images/products/cross_classic.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Classic Century</h5>
                            <p class="card-text">Classic Century Brushed Chrome Rollerball Pen</p>
                        </div>
                        <div class="card-footer">
                            <p class="text-muted">$4.620</p>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a href="">
                        <img class="card-img-top" src="./images/products/cross_ferrari.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Cross Classic Century Collection for Scuderia Ferrari</h5>
                            <p class="card-text">Cross Classic Century Collection for Scuderia Ferrari Matte Black
                                Lacquer Rollerball
                                Pen</p>
                        </div>
                        <div class="card-footer">
                            <p class="text-muted">$9.800</p>
                        </div>
                    </a>
                </div>
            </div>
        </article>

    </section>

    <section class="medios-pago">

        <div class="container-fluid d-flex flex-row justify-content-center">
            <div>
                <p>Aceptamos todos los medios de pago a través de </p>

            </div>
            <div>
                <img src="./images/setup/version-vertical-large.png" alt="">
            </div>

        </div>

    </section>

    <section class="suscriptions container-fluid ">

        <div class="container ">
            <div>
                <p>Suscríbase a nuestro newsletter</p>
                <!-- 10% of: este link lleva a un controlador que genera con bcrypt un código y lo envia automñaticamente por mail.-->
                <p>reciba un 10% off en tu primera compra</p>
                <p>y acceda a nuestras novedades y descuentos </p>
            </div>

            <div class="container-input">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="ÚNASE SÓLO CON SU EMAIL"
                        aria-label="Únase sólo con su mail" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button"><i
                                class="fas fa-chevron-right"></i></span></button>
                    </div>
                </div>

            </div>
        </div>


    </section>

    <section class="container-brands">

        <div id="brands-grid">

            <!-- <div> <img src="./images/brands/Logo-Graf-von-Faber-Castell.png" alt=""></div>

            <div><img src="./images/brands/Montblanc_logo.svg.png" alt=""></div>

            <div><img src="./images/brands/caran.png" alt=""></div>

            <div><img src="./images/brands/dupont.png" alt=""></div>

            <div><img src="./images/brands/lamy.png" alt=""></div>

            <div><img src="./images/brands/cross-log-new.png" alt=""></div>

            <div><img src="./images/brands/logo_black.png" alt=""></div>

            <div><img src="./images/brands/fischer.png" alt=""></div> -->
        </div>

        <div class="d-flex flex-row justify-content-center ver-todas">
            <div class="justify-content-center"><a href="/products/brands"> Ver todas </a></div>
        </div>

    </section>



    <!-- <section class="marks container-fluid">
        

        <div>
            <ul class="list-marks-main d-flex flex-row justify-content-center flex-wrap">
                <LI>
                    <div> <img src="./images/brands/Logo-Graf-von-Faber-Castell.png" alt=""></div>
                </LI>
                <LI>
                    <div><img src="./images/brands/Montblanc_logo.svg.png" alt=""></div>
                </LI>
                <LI>
                    <div><img src="./images/brands/caran.png" alt=""></div>
                </LI>
                <LI>
                    <div><img src="./images/brands/dupont.png" alt=""></div>
                </LI>


            </ul>
            <ul class="list-marks-main d-flex flex-row justify-content-center flex-wrap">

                <LI>
                    <div><img src="./images/brands/lamy.png" alt=""></div>
                </LI>
                <LI>
                    <div><img src="./images/brands/cross-log-new.png" alt=""></div>
                </LI>
                <LI>
                    <div><img src="./images/brands/logo_black.png" alt=""></div>
                </LI>
                <LI>
                    <div><img src="./images/brands/fischer.png" alt=""></div>
                </LI>

            </ul>


            
        </div>

        <div class="d-flex flex-row justify-content-center ver-todas" >
            <div class="justify-content-center" ><a href="./brands.html">  Ver todas </a></div>
        </div>


    </section> -->

    <section class="main-footer">

        <div class="container">
            <div class="card-group card-group-footer">

                <div class="card">

                    <div class="card-body card-footer">
                        <h5 class="card-title">Acerca de </h5>
                        <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                        <ul>

                            <li><a href="./empresa.html">Empresa</a> </li>
                            <li>Política de cambios</li>
                            <li>Política de envíos</li>
                            <li>Servicio técnico</li>
                        </ul>
                    </div>
                    <div class="card-body card-footer">
                        <h5 class="card-title">Mi cuenta</h5>
                        <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                        <ul>

                            <li>Mis compras</li>
                            <li>Mis datos</li>
                            <li>Ayuda</li>

                        </ul>
                    </div>

                </div>

                <div class="card">

                    <div class="card-body card-footer">
                        <div class="group-form">
                            <h5 class="card-title">Regístrese a nuestro newsletter</h5>
                            <form class="mb-footer-form" action="#">
                                <input class="mb-footer-input-email" type="text" name="email" id="email_addr" value=""
                                    placeholder="ÚNASE CON SU EMAIL">
                                <label for="email_addr" class="hidden">ÚNASE A NUESTRA NEWSLETTER</label>
                                <button type="submit" name="submit" class="style-1">
                                    <span class="mb-accessible-text">
                                        <i class="fas fa-chevron-right"></i></span>
                                </button>
                                <p class="errorEmail" style="display: none;">Formato erróneo, por favor inténtelo de
                                    nuevo</p>
                            </form>
                        </div>
                        <!-- <div class="group-form">
                            <h5 class="card-title">Síganos en </h5>
                            <div class="social-media">
                                <ul class="display-flex">
                                    <li><i class="fab fa-facebook-f"></i></li>
                                    <li><i class="fab fa-instagram"></i></li>
                                    <li><i class="fab fa-pinterest-square"></i></li>
                                </ul>
                            </div>
                        </div> -->
                    </div>
                    <div class="card-body card-footer">
                        <h5 class="card-title">Contacto</h5>
                        <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                        <ul>

                            <li>Teléfono<span> (11) 4805-2161</span> </li>
                            <li>WhatsApp</li>
                            <li> <a href="mailto: contacto@casalaestilografica.com.ar?subject = Consulta web">contacto@casalaestilografica.com.ar
                                </a> </li>
                            <li class="flex-wrap">Av. Pres. Manuel Quintana 530, C1129 ABO, Buenos Aires </li>
                            <li class="flex-wrap">Lunes a Viernes 11 a 19 hs | Sábados 11 a 14 hs</li>
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body card-footer">
                        <div class="group-form">

                            <h5 class="card-title">Ubicación</h5>
                            <div>
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3284.6554446694786!2d-58.39074909648376!3d-34.587583893791525!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd0942e58bc04341f!2sCasa%20La%20Estilografica!5e0!3m2!1ses-419!2sar!4v1596305332692!5m2!1ses-419!2sar"
                                    width="250" height="150" frameborder="0" style="border:0;" allowfullscreen=""
                                    aria-hidden="false" tabindex="0"></iframe>
                            </div>
                        </div>
                        <div class="group-form">
                            <h5 class="card-title">(espacio AFIP)</h5>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <script src="../../scripts/brandsIndex.js"></script>
</main>
<%- include(`partials/footer`) %>