<%- include(`partials/head`, {title: `Inicio`}) %>
<main>
    <div class="container-custom-sub">
        <nav aria-label="breadcrumb ">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="./home.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Escritura</a></li>
                <li class="breadcrumb-item active" aria-current="page">Estilográficas</li>
            </ol>
        </nav>
    </div>




    <section class="container-fluid container-custom-sub ">
        <div class="products-detail-img container-img baner-js">
            <h2 class="hidden">estilográficas</h2>
            <div class="container-text-img">
                <div>
                    <p id="catheader"> </p>
                </div>
            </div>
        </div>
    </section>


    <section class="container-fluid container-custom-sub">
        <div class="row">

            <div class="elemento-1  col-sm-12 col-md-3 filtros">
                <div class=" container-menu-filtros">
                    <div class="accordion menu-filtros" id="accordionExample">

                        <div class="card card-profession">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <!-- <button > -->
                                    <button class="btn btn-link apply-filter-js" type="button">
                                        <span><i class="fas fa-filter"></i></span> Aplicar Filtros
                                    </button>
                                </h2>
                            </div>
                        </div>


                        <div class="card card-profession">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Profesión
                                    </button>
                                </h2>
                            </div>


                            <div id="collapseOne" class="collapse " aria-labelledby="headingOne"
                                data-parent="#accordionExample">
                                <div class="card-body card-body-professions">

                                </div>
                            </div>
                        </div>

                        <div class="card card-ocasions">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Ocasión
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                data-parent="#accordionExample">
                                <div class="card-body card-body-ocasions">
                                </div>
                            </div>
                        </div>
                        <!-- //falta price!!! -->
                        <div class="card card-price">
                            <div class="card-header" id="headingThree">
                                <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        Precio
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordionExample">
                                <div class="card-body card-body-price display-flex">

                                    <div style="width: 600px;">
                                        <!-- 
                                        <input type="text" class="js-range-slider" name="my_range" value="" data-min="0" data-max="900000" />
                                        <script>
                                            $(".js-range-slider").ionRangeSlider({
                                                skin: "square",
                                                type: "double",
                                                min: 0,
                                                max: 900000,
                                                from: 1,
                                                to: 900000,
                                                prefix: "$",

                                                onStart: function(data){
                                                    let valueMinStart=data.from;
                                                    let valueMaxStart=data.to; 
                                                    $(".js-range-slider").data("min", valueMinStart);
                                                    $(".js-range-slider").data("max", valueMaxStart);
                                                },
                                                onFinish: function(data){
                                                    $(".js-range-slider").data("min", data.from);
                                                    $(".js-range-slider").data("max", data.to);
                                                },
                                                
                                            });
                                        </script> -->

                                        <div class="range-slider">
                                            <input type="text" class="js-range-slider" value="" />
                                        </div>
                                        <div class="extra-controls">
                                            <input type="text" class="js-input-from" value="0" />
                                            <input type="text" class="js-input-to" value="0" data-max="<%=topprice %>"/>
                                        </div>

                                      

                    
                                    </div>

                                </div>


                            </div>
                        </div>

                        <div class="card card-colors">
                            <div class="card-header" id="headingFour">
                                <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        Color
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="collapseFour"
                                data-parent="#accordionExample">
                                <div class="card-body card-body-colors">


                                </div>
                            </div>
                        </div>

                        <div class="card card-brands">
                            <div class="card-header" id="headingFive">
                                <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        Marca
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseFive" class="collapse" aria-labelledby="collapseFive"
                                data-parent="#accordionExample">
                                <div class="card-body card-body-brands">
                                </div>
                            </div>
                        </div>




                    </div>
                </div>
            </div>



            <div class="elemento-2 col-sm-12 col-md-9">
                <div class="card-deck card-deck-filters" id="deck-products">

            <!-- acá insertan tarjetas -->
                </div>
               
              

            </div>
        </div>
    </section>







</main>

<script src="../../scripts/filtersVariables.js"> </script>
<script src="../../scripts/rangeSlider.js"> </script>
<!-- genera banner -->
<script src="../../scripts/categories.js"></script> 
<!-- trae y pagina primeros resultados por cats -->
<script src="../../scripts/productsCats.js"></script>
<!-- generador de filtros de cat -->
<script src="../../scripts/productsCatsFilters.js"></script>
<!-- trae productos filtrados -->
<script src="../../scripts/categoriesFilteredProducts.js"></script>


<%- include(`partials/footer`) %>


