<%- include(`partials/head`, {title: `Brand`}) %>
<main>
        <div class="container-custom-sub">
                <nav aria-label="breadcrumb ">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="./home.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Service</a></li>
                       
                    </ol>
                </nav>
            </div>
        <section class="container-fluid container-custom-sub ">

                <div class="service-detail-img container-img">
                    <img src="../images/setup/lapiceras.jpeg" alt="">
                    <div class="container-text-img">
                        <h2 class="hidden">service</h2>
                        <div>
                              <p style="">SERVICE <br><span>Y REPUESTOS</span></p> 
                                <!-- <p> ESTILOGRÁFICAS</p> -->
        
                            </div>
                    </div>
                </div>

                <article class="service">
                    <div><p>Ofrecemos service confiable para todos sus artículos de escritura dado que contamos con los mejores técnicos del mercado y otorgamos una garantía de 6 meses a partir de la fecha de entrega.</p>
                    </div>
                    <div>
                        <p>Complete sus datos en el siguiente formulario y nos contactaremos para brindarle el mejor asesoramiento para su problema</p>
                    </div>
                    <div class="container-form justify-content-center">
                       <div class="form-service">
                            <label for="basic-url"></label>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon3">Nombre y Apellido</span>
                              </div>
                              <input type="text" class="form-control" id="name" aria-describedby="basic-addon3">
                            </div>

                            <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text" id="basic-addon3">Email</span>
                                    </div>
                                    <input type="text" class="form-control" id="email" aria-describedby="basic-addon3">
                                  </div>
                                
                                  <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text" id="basic-addon3">Dirección</span>
                                        </div>
                                        <input type="text" class="form-control" id="address" aria-describedby="basic-addon3">
                                      </div>
                            
                                      <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text" id="basic-addon3">Teléfono</span>
                                            </div>
                                            <input type="text" class="form-control" id="address" aria-describedby="basic-addon3" placeholder="(código de área) teléfono">
                                          </div>
                         
                            
                            <div class="input-group">
                             
                              <textarea class="form-control" aria-label="With textarea" placeholder="Ingrese aquí el motivo de tu consulta "></textarea>
                            </div>
                    </div> 
                    </div>
                    
                </article>
    
            </section>




</main>
<%- include(`partials/footer`) %>