<%- include(`partials/head`, {title: `Brand`}) %>

<main>

        <div class="container-custom-sub">
                <nav aria-label="breadcrumb ">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="./home.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Empresa</a></li>
                       
                    </ol>
                </nav>
            </div>


   

 
 <div>
     <img src="" alt="">
 </div>
 
    <section class="empresa-section">
     <article class="container">
         <div class="container-img">

            <img src="../images/carousel/vitrina2.jpg" alt="">
         </div>
         <div>
                Se creó en el año 1946; su dueño en ese entonces era Gaspar Munar. Original-mente el local se encontraba en Galerías Pacífico. Luego hacia fines de 1978, se muda a la galería situada actualmente en la calle Florida y Marcelo T. de Alvear.

               
             
         </div>
         <div>
                En el año 1992 María Fernanda Pignataro se establece en la llamada Galería del Sol, que junto a su padre Diego le dan un giro fundamental a la Casa La Estilográfica, siendo en la actualidad representantes número uno de MontBlanc en Argentina.
                
         </div>
         <div>

                En Casa La Estilográfica pueden encontrarse variedad de primeras marcas como por ejemplo; Parker, Waterman, Pelikan, Faber, Visconti, Cross, Aurora, Lamy y Fisher entre otras. A partir de este año la familia De Bonis toma el estandarte de Casa La Estilográfica, comprometiéndose a mantener la extraordinaria tradición de un lugar con historia.
         </div>
     </article>

     <article class="container">
        <article>
            <div>
                Actualmente, el local se encuentra ubicado en Av. Pres. Manuel Quintana al 530, Buenos Aires.
            </div>
            <div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3150.725216754405!2d-58.38997563279806!3d-34.587847458261514!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd0942e58bc04341f!2sCasa%20La%20Estilografica!5e0!3m2!1ses-419!2sar!4v1597179441168!5m2!1ses-419!2sar" width="100%" height="350" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </article>

     </article>



 </section>


 <a href=""><button class="boton-fijo"><i class="fab fa-whatsapp-square"></i></button></a>
</main>
<%- include(`partials/footer`) %>