<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Casa La Lapicera</title>
    <link rel = "icon" href = "../../images/setup/pen.png" type = "image/x-icon"> 
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- propia -->
    <link rel="stylesheet" href="../../stylesheets/home.css">
    <link rel="stylesheet" href="../../stylesheets/carousel_prod.css">

    <!-- fonts -->
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400&display=swap" rel="stylesheet">
    <!-- century gothinc -->
    <link rel="stylesheet" href="https://use.typekit.net/oov2wcw.css">
    <!-- fonts awesome -->
    <script src="https://kit.fontawesome.com/086374246f.js" crossorigin="anonymous"></script>

     <!--Plugin CSS file with desired skin-->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css"/>
    
     <!-- jquery más viejo para el spiner del carrito-->
     <script src="https://code.jquery.com/jquery-3.2.1.js" crossorigin="anonymous"></script>
     <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
     <!--jQuery-->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
     
     <!--Plugin JavaScript file-->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>
     <!-- less -->

</head>

<body>

    <header class="hidden-min">
        <div class="header-logo">
            <h1 class="hidden">Casa La Estilografica</h1>
            <div class="pen-img">
                <a href=""><img src="../../images/setup/logo_white.png" alt=""></a>
                
            </div>

        </div>

    </header>

    <nav class="navbar navbar-expand-sm navbar-dark bg-dark py-3 shadow-sm navbar-main hidden-min ">

        <div id="navbarContent" class="collapse navbar-collapse order-sm-12 order-lg-1 justify-content-center">
            <div style="width: 75px"></div>
            <ul class="navbar-nav ml-auto container-fluid justify-content-center d-flex">
                <!-- Megamenu-->
                <li class="nav-item dropdown megamenu"><a id="megamenu" href="" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle h6-navbar ">Artículos
                        de escritura</a>
                    <div aria-labelledby="megamenu" class="dropdown-menu border-0 p-0 m-0">
                        <div class="container-fluid" >
                            <div class="row bg-dark text-light rounded-0 m-0 shadow-sm " style="width: 100%">
                                <div class="col-12 container-custom-sub">
                                    <div class="p-4">
                                        <div class="row">
                                            <!-- <div class="col-sm-6 col-lg-3 mb-4"> -->
                                            <div class="col-12 ">
                                                <!-- <h6 class="h6-navbar ">Artículos de escritura</h6> -->
                                                <ul class="list-unstyled d-flex flex-row justify-content-between">
                                                    <li class="nav-item"><a href="#"
                                                            class="nav-link text-small pb-0">Rollerballs</a></li>
                                                    <li class="nav-item"><a href="#"
                                                            class="nav-link text-small pb-0 ">Bolígrafos</a></li>
                                                    <li class="nav-item"><a href="./products-filters.html"
                                                            class="nav-link text-small pb-0 ">Estilográficas</a></li>
                                                    <li class="nav-item"><a href="#"
                                                            class="nav-link text-small pb-0 ">Ediciones limitadas</a>
                                                    </li>
                                                    <li class="nav-item"><a href="#"
                                                            class="nav-link text-small pb-0 ">Portaminas mecánicos y
                                                            lápices</a></li>
                                                    <li class="nav-item"><a href="#"
                                                            class="nav-link text-small pb-0 ">Sets de escritura</a></li>
                                                    <li class="nav-item"><a href="./service.html"
                                                            class="nav-link text-small pb-0 ">Repuestos</a></li>
                                                </ul>
                                            </div>
                                            <!-- <div class="col-sm-6 col-lg-3 mb-4">
                                            <h6 class="h6-navbar ">Marcas</h6>
                                            <ul class="list-unstyled">
                                              <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Montblanc</a></li>
                                              <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Cross</a></li>
                                              <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Lamy</a></li>
                                              <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Fisher</a></li>
                                            </ul>
                                          </div>
                                          <div class="col-sm-6 col-lg-3 mb-4">
                                            <h6 class="h6-navbar ">Colecciones</h6>
                                            <ul class="list-unstyled">
                                              <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Ediciones limitadas</a></li>
                                              <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Image Responsive</a></li>
                                              <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Kits de escritura</a></li>
                                             
                                            </ul>
                                          </div>
                                          <div class="col-sm-6 col-lg-3 mb-4">
                                            <h6 class="h6-navbar ">Presupuestos</h6>
                                            <ul class="list-unstyled">
                                              <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Ediciones limitadas</a></li>
                                              <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Kits de escritura</a></li>
                                             
                                            </ul>
                                          </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown megamenu"><a id="megamenu" href="" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"
                        class="nav-link dropdown-toggle h6-navbar ">Marcas</a>
                    <div aria-labelledby="megamenu" class="dropdown-menu border-0 p-0 m-0">
                        <div class="container-fluid">
                            <div class="row bg-dark text-light rounded-0 m-0 shadow-sm " style="width: 100%">
                                <div class="col-12 container-custom-sub">
                                    <div class="p-4">
                                        <div class="row">
                                            <div class="col-sm-6 col-lg-3 mb-4">

                                                <ul class="list-unstyled">
                                                    <li class="nav-item"><a href="#"
                                                            class="nav-link text-small pb-0">Campo Marzio</a></li>
                                                    <li class="nav-item"><a href="#"
                                                            class="nav-link text-small pb-0 ">Caran d´Ache</a></li>
                                                    <li class="nav-item"><a href="#"
                                                            class="nav-link text-small pb-0 ">Cross</a></li>
                                                    <li class="nav-item"><a href="#"
                                                            class="nav-link text-small pb-0 ">Fisher Space Pen</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-6 col-lg-3 mb-4">

                                                <ul class="list-unstyled">
                                                    <li class="nav-item"><a href=""
                                                            class="nav-link text-small pb-0 ">Graf Von Faber-Castell</a>
                                                    </li>
                                                    <li class="nav-item"><a href=""
                                                            class="nav-link text-small pb-0 ">Lamy</a></li>
                                                    <li class="nav-item"><a href=""
                                                            class="nav-link text-small pb-0 ">Montblanc</a></li>
                                                    <li class="nav-item"><a href=""
                                                            class="nav-link text-small pb-0 ">Montegrappa</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-6 col-lg-3 mb-4">

                                                <ul class="list-unstyled">
                                                    <li class="nav-item"><a href=""
                                                            class="nav-link text-small pb-0 ">Parker</a></li>
                                                    <li class="nav-item"><a href=""
                                                            class="nav-link text-small pb-0 ">Pelikan</a></li>
                                                    <li class="nav-item"><a href=""
                                                            class="nav-link text-small pb-0 ">Peninfarina</a></li>
                                                    <li class="nav-item"><a href=""
                                                            class="nav-link text-small pb-0 ">S.T. Dupont</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-6 col-lg-3 mb-4">

                                                <ul class="list-unstyled">
                                                    <li class="nav-item"><a href=""
                                                            class="nav-link text-small pb-0 ">Waterman</a></li>
                                                    <!-- <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Image Responsive</a></li>
                                                  <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Auto Carousel</a></li>
                                                  <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Newsletter Form</a></li> -->
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="nav-item dropdown megamenu"><a class="nav-link  h6-navbar ">Ofertas especiales</a></li>
                <li class="nav-item dropdown megamenu"><a class="nav-link  h6-navbar ">Accesorios</a></li>
                <li class="nav-item dropdown megamenu"><a class="nav-link  h6-navbar ">Servicio técnico</a></li>


            </ul>
            <ul class="d-flex flex-row justify-content-between">
                <li class="nav-item dropdown megamenu "><a class="nav-link  h6-navbar "><img class="icon-nav-bar"
                            src="../../images/icons/shopping-bag-smoke.png" alt="CART"></a></li>
                <li class="nav-item dropdown megamenu "><a id="megamenu" href="" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" class="nav-link h6-navbar "><img class="icon-nav-bar"
                            src="../../images/icons/search-smoke.png" alt="CART"></a>
                    <div aria-labelledby="megamenu" class="dropdown-menu border-0 p-0 m-0">
                        <div class="container-fluid">
                            <div class="row bg-dark text-light rounded-0 m-0 shadow-sm " style="width: 100%">
                                <div class="col-12 container-custom-sub">

                                    <div class="row row-input-search">
                                        <div class="col-12 justify-content-center div-input-search">
                                            <div class="input-group mb-3 input-search">
                                                <input type="text" class="form-control"
                                                    placeholder="Ingrese aquí se búsqueda"
                                                    aria-label="Ingrese aquí su búsqueda"
                                                    aria-describedby="basic-addon2">
                                                <div class="input-group-append">
                                                    <button class="btn " type="button"> <i
                                                            class="fas fa-chevron-right"></i></button>
                                                </div>
                                            </div>

                                        </div>



                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>

        </div>

    </nav>

    <nav class="hidden-max nav-bar-mobile container-fluid">


        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center row">
                <div class="col-2" data-toggle="collapse" data-target="#accordion">
                    <img class="icon-nav-bar" src="../../images/icons/open-menu-smoke.png" alt="CART"></a>
                </div>
                <div class="pen-img col-8" style="text-align:center">
                    <div>
                        <img src="../../images/setup/logo_white.png" alt="">
                    </div>
                </div>
                <div class="d-flex col-2">
                    <div class="mr-3">
                        <img class="icon-nav-bar " src="../../images/icons/shopping-bag-smoke.png" alt="CART"></a>
                    </div>
                    <div>
                        <a><img class="icon-nav-bar" src="../../images/icons/search-smoke.png" alt="CART"
                                data-toggle="collapse" href="#collapseSearch"></a>
                    </div>
                </div>
            </div>
        </div>

        <div id="accordion" class="collapse">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn  btn-link-mobile" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            Artículos de escritura
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <ul>
                            <li class="nav-item"><a href="#" class="nav-link text-small pb-0">Estilográfica</a></li>
                            <li class="nav-item"><a href="#" class="nav-link text-small pb-0 ">Bolígrafo</a></li>
                            <li class="nav-item"><a href="./products-filters.html"
                                    class="nav-link text-small pb-0 ">Rollerball</a>
                            </li>
                            <li class="nav-item"><a href="#" class="nav-link text-small pb-0 ">Ediciones limitadas</a>
                            </li>
                            <li class="nav-item"><a href="#" class="nav-link text-small pb-0 ">Portaminas mecánicos y
                                    lápices</a></li>
                            <li class="nav-item"><a href="#" class="nav-link text-small pb-0 ">Sets de escritura</a>
                            </li>
                            <li class="nav-item"><a href="#" class="nav-link text-small pb-0 ">Repuestos</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn  collapsed btn-link-mobile" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo">
                            Marcas
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <ul>
                            <li class="nav-item"><a href="#" class="nav-link text-small pb-0">Campo Marzio</a></li>
                            <li class="nav-item"><a href="#" class="nav-link text-small pb-0 ">Caran d´Ache</a></li>
                            <li class="nav-item"><a href="#" class="nav-link text-small pb-0 ">Cross</a></li>
                            <li class="nav-item"><a href="#" class="nav-link text-small pb-0 ">Fisher Space Pen</a></li>
                            <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Graf Von Faber-Castell</a>
                            </li>
                            <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Lamy</a></li>
                            <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Montblanc</a></li>
                            <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Montegrappa</a></li>
                            <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Parker</a></li>
                            <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Pelikan</a></li>
                            <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Peninfarina</a></li>
                            <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">S.T. Dupont</a></li>
                            <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Waterman</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">
                        <button class="btn  btn-link-mobile">
                            Ofertas especiales
                        </button>
                    </h5>
                </div>

            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">
                        <button class="btn  btn-link-mobile">
                            Accesorios
                        </button>
                    </h5>
                </div>

            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">
                        <button class="btn btn-link-mobile">
                            Servicio técnico
                        </button>
                    </h5>
                </div>

            </div>
        </div>
    </nav>

